.title {
    margin: 2.5rem 0;
    text-align: center;
    font-size: 2.25rem;
}

.textCenter {
    text-align: center;
    letter-spacing: -0.02em;
}

.paragraph {
    margin: 1rem 0;
}

.link {
    border-bottom: 1px solid currentColor;
}