.title {
    margin: 5rem 0;
    text-align: center;
    font-size: 2.25rem;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.yearColumn {
    width: 100%;
    margin-bottom: .5rem;
    font-size: 0.875rem;
    color: #a3a3a3;
}

.detailsColumn {
    width: 100%;
    max-width: 48rem;
}

.roleTitle {
    margin-bottom: .5rem;
    font-weight: 600;
}

.companyName {
    font-size: .875rem;
    color: #dcd0ff;
}

.roleDescription {
    margin-bottom: 1rem;
    color: #a3a3a3;
} 

.technologyTag {
    margin-right: 0.5rem; 
    margin-top: 1rem; 
    border-radius: 0.25rem;
    background-color: #9333ea;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #c9c9c9;
}

@media (min-width: 1024px) {
    .yearColumn {
        width: 25%;
    }

    .detailsColumn {
        width: 75%;
    }
}